---
title: About
permalink: /about/
layout: base.njk
---
<main>
  <h1>About</h1>
  <p><em><strong>Code Monkey</strong></em>: A pejorative term for programmers who are employed to write simple or repetitive code.</p>
  
  <p>Ahem. Name-calling. It's a thing. It's not a good thing but people do it.</p>
  
  <p>I've been writing code for myself and professionally for a looooong time and I occasionally get called that pejorative which I find somewhat ironically humorous. Seriously, name-calling can't land if you laugh at it.</p>
  
  <p>This site contains pointers to various personal projects that I've worked on (or am working on). You're welcome to use what you find here so long as you comply with whatever license I happened to have put on a project.</p>
  
  <p>I won't claim any deep insights but heck, <em>they work on my machine</em>.</p>
  
  <p>Lol.</p>
</main>
