<aside>
  <h4>Blog Index</h4>
  <div class="blog-index">
    <ul>
      {% set groupedPosts = collections.articles | groupByYear %}
      {% for group in groupedPosts %}
        <li>{{ group.year }}
          <ul>
            {% for post in group.posts %}
              <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</aside>
