<header>
  <div class="logo">
    <a href="/">
      <img src="/img/logo.png" alt="Code Monki Logo">
      <p>Code Monki</p>
    </a>
  </div>
  <nav class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/about/">About</a></li>
  </nav>
</header>
